- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/collection"
  = link_to t(:collections_link_to_edit), "/admin/collection"

%table
  - @collections.each do |collection|
    %tr
      %td= link_to collection.title, collection
      %td
        - if signed_in? && !current_user.customer?
          = link_to (image_tag "edit.png"), "/admin/collection/#{collection.id}/edit"
          = link_to t(:collection_link_to_edit), "/admin/collection/#{collection.id}/edit"

