= title @collection.title.html_safe

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/collection/#{@collection.id}/edit"
  = link_to t(:collection_link_to_edit), "/admin/collection/#{@collection.id}/edit"

%p.title= @collection.title           if signed_in?
%p= @collection.description.html_safe

- if @photos.present?
  %p= render :template => "photos/index"
  %p.actions.title= link_to t(:photos_label), 'javascript:void(0)', id: 'slideshow'

- if @collection.books.present?
  %p.title= t("activerecord.models.book")
  %p= render :template => "books/index"

- if @articles.present?
  %p.title= t("activerecord.models.article")
  %p= render :template => "articles/index"

%p= @collection.afterword.html_safe if @collection.afterword.present?

#comments
  %span.comments #{t("activerecord.models.comment")}
  = render :partial => "comments/form"
  = render :template => "comments/index" if @collection.comments.present?