= form_for @note do |f|
  - if @note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :collection
    = f.text_field :collection
  .field
    = f.label :article
    = f.text_field :article
  .field
    = f.label :book
    = f.text_field :book
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :is_public
    = f.check_box :is_public
  .actions
    = f.submit 'Save'
