- if signed_in?
  = link_to (image_tag "edit.png"), "/admin/note"
  = link_to t(:notes_link_to_edit), "/admin/note"

%table
  - @notes.each do |note|
    %tr
      %td
        - if signed_in? && !current_user.customer?
          %p
            = link_to (image_tag "edit.png"), "/admin/note/#{note.id}/edit"
            = link_to t(:note_link_to_edit), "/admin/note/#{note.id}/edit"
            .title= note.title
    %tr
      %td.img= link_to (image_tag note.book.image, alt: note.book.title, data: { ot: "#{image_tag note.book.image.gsub(/thumb/, 'original'), alt: note.book.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }), book_path(note.book)
      %td{style: 'vertical-align: top;'}
        %p.dsc= note.description.html_safe
        = render :partial => '/shared/card', :locals => {user: note.user, timestamp: note.updated_at}