%p#notice= notice

%p
  %b User:
  = @note.user
%p
  %b Collection:
  = @note.collection
%p
  %b Article:
  = @note.article
%p
  %b Book:
  = @note.book
%p
  %b Description:
  = @note.description
%p
  %b Is public:
  = @note.is_public

= link_to 'Edit', edit_note_path(@note)
\|
= link_to 'Back', notes_path
