:javascript
  $('.nav.nav-list li.active').removeClass('active');
  $('.nav.nav-list li[data-model="#{@abstract_model.to_param}"]').addClass('active');

%title= "#{@abstract_model.try(:pretty_name) || @page_name} | #{[_get_plugin_name[0] || 'Rails', _get_plugin_name[1] || 'Admin'].join(' ')}"
.page-header
  %h1= @page_name
- flash && flash.each do |key, value|
  .alert{:class => "alert-#{key}"}
    %a.close{:href => '#', :'data-dismiss' => "alert"}×
    = value
= breadcrumb
%ul.nav.nav-tabs
  = menu_for((@abstract_model ? (@object.try(:persisted?) ? :member : :collection) : :root), @abstract_model, @object)
  = content_for :contextual_tabs
= yield

:javascript
  $(function () {
    $("html").attr("lang", "#{controller.set_locale}");
    $("html").attr("xml:lang", "#{controller.set_locale}");
    $("html").attr("xmlns", "http://www.w3.org/1999/xhtml");
  });
