= form_for @comment, remote: true, html: {data: { type: :json}}  do |f|
  .notice= hidden_field_tag "message", nil, data: { success: t(:comment_notice_created) }
  .alert

  .field
    - current_user.present? ? user_id = current_user.id : user_id = 1
    = f.hidden_field :user_id, value: user_id
    = f.hidden_field :collection_id, value: @collection.id if @collection.present?
    = f.hidden_field :article_id, value: @article.id if @article.present?
  .field
    = f.text_area :description, rows: 3, placeholder: t(:comment_link_to_new)
  .actions
    - if signed_in?
      = current_user.profile_description
      = f.hidden_field :username, value: current_user.profile_description
    - else
      = f.text_field :username, placeholder: t(:introduce_title)
    = f.submit t(:send_title)

:javascript
  $(function () {
      showMessages();
  });