- if signed_in?
  = link_to (image_tag "edit.png"), "/admin/comment"
  = link_to t(:comments_link_to_edit), "/admin/comment"

%table
  - @comments.each do |comment|
    %tr
      %td
        %p
          = link_to (image_tag "edit.png"), "/admin/comment/#{comment.id}/edit" if signed_in? && !current_user.customer?
          = link_to t(:comment_link_to_edit), "/admin/comment/#{comment.id}/edit"  if signed_in? && !current_user.customer?
          -#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }
        %p= comment.description
        %p.author= comment.username if comment.user.anonymous?
        %p.author= comment.user.username unless comment.user.anonymous?
        %p.date= l comment.updated_at, format: :long


