%p#notice= notice

%p
  %b User:
  = @comment.user
%p
  %b Collection:
  = @comment.collection
%p
  %b Article:
  = @comment.article
%p
  %b Description:
  = @comment.description
%p
  %b Is public:
  = @comment.is_public

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
