%h1 Listing nodes

%table
  %tr
    %th Name
    %th Description
    %th Slug
    %th Is public
    %th
    %th
    %th

  - @nodes.each do |node|
    %tr
      %td= node.name
      %td= node.description
      %td= node.slug
      %td= node.is_public
      %td= link_to 'Show', node
      %td= link_to 'Edit', edit_node_path(node)
      %td= link_to 'Destroy', node, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Node', new_node_path
