= title @node.name

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/node/#{@node.id}/edit"
  = link_to t(:node_link_to_edit), "/admin/node/#{@node.id}/edit"

%p.title= @node.name           if signed_in?
%p= @node.description.html_safe