= title t(:search_title)
#search_results
  .search.bold= t(:search_result) + ' ' + (params[:query].empty? ? '' : params[:query])
  -if @results.present? && params[:query].present?

    - if @results.to_a.any? { |s| s.class.name == 'Photo' }
      %p.actions.title= link_to t(:photos_label), 'javascript:void(0)', id: 'slideshow'
      - @photos = @results.to_a.select { |s| s if s.class.name == 'Photo' }
      .slideshow= render :partial => 'shared/slideshow', :locals => {:photos => @photos}
      = hidden_field_tag 'title', nil, data: { title: t(:photos_label) }

    - if @results.to_a.any? { |s| s.class.name == 'Event' }
      %p.title= t("activerecord.models.event")
      - @results.to_a.select { |s| s if s.class.name == 'Event' }.each do |s|
        .search_result
          - if s.class.name == 'Event'
            %table
              %tr
                %td{colspan: 2}
                  .actions.date
                    = l s.start, format: :long         if s.start.present?
                    =  '- ' + l(s.end, format: :long)  if s.end.present?
              %tr
                - if s.image.present?
                  %td.img= image_tag s.image, alt: s.title, data: { ot: "#{image_tag s.image.gsub(/thumb/, 'original'), alt: s.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
                %td.dsc= s.description.html_safe

    - if @results.to_a.any? { |s| s.class.name == 'Book' }
      %p.title= t("activerecord.models.book")
      - @results.to_a.select { |s| s if s.class.name == 'Book' }.each do |s|
        .search_result
          - if s.class.name == 'Book'
            %table
              %tr
                %td.img= image_tag s.image, alt: s.title, data: { ot: "#{image_tag s.image.gsub(/thumb/, 'original'), alt: s.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
                %td.dsc= s.description.html_safe

    - if @results.to_a.any? { |s| s.class.name == 'Article' }
      - if @results.to_a.select { |s| s if s.class.name == 'Article' }.delete_if { |s| s.id == 1 || !s.is_public? }.present?
        %p.title= t("activerecord.models.article")
      - @results.to_a.select { |s| s if s.class.name == 'Article' }.delete_if { |s| s.id == 1 || !s.is_public? }.each do |s|
        .search_result
          - if s.class.name == 'Article'
            %table
              %tr
                - if s.image.present?
                  %td.img= image_tag s.image, alt: s.title, data: { ot: "#{image_tag s.image.gsub(/thumb/, 'original'), alt: s.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
                %td.dsc= s.description.html_safe

  - else
    %p= t(:search_result_empty)
