<%= title (t :user_sign_in_page_title) %>
<h2 class="title"><%= t :user_sign_in_page_title %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label t :user_label_login %><span class="required"><%= t :required_label %></span><br />
    <%= f.text_field :username %></div>

  <div><%= f.label t :user_label_password%><span class="required"><%= t :required_label %></span><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label t :user_label_remember_me%></div>
  <% end -%>

  <span class="required"><%= t :required_label_tip %></span>

  <div><%= f.submit t :user_label_sign_in, title: (t :user_label_sign_in) %></div>
<% end %>

<%= render "shared/links" %>
