= form_for @publication do |f|
  - if @publication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@publication.errors.count, "error")} prohibited this publication from being saved:"
      %ul
        - @publication.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :note
    = f.text_field :note
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :is_public
    = f.check_box :is_public
  .field
    = f.label :slug
    = f.text_field :slug
  .actions
    = f.submit 'Save'
