= title t('activerecord.models.publication')

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/publications"
  = link_to t(:publications_link_to_edit), "/admin/publications"

%p.title= t(:publications_by_authors)
.publications
%br
%p.title= t(:publications_by_categories)
.categories

:javascript
  $(function () {
    var publications = #{@publications.to_json.html_safe};
    var publications_authors = #{@publications_authors.to_json.html_safe};
    $('.publications').jstree({
      "core": {
        "strings": {
          "loading": "#{t(:loading)}"
        }
      },
      "plugins": [ "themes", "json_data", "ui", "cookies" ],
      "cookies": { "cookie_options": { "path": "/" } },
      "themes": {
        "theme": "apple",
        "url": "/assets/themes/apple/style.css",
        "dots": false,
        "icons": true
      },
      "json_data": {
        "data": publications_authors, "state": "open"
      }
    }).bind("reselect.jstree", function() {
      $('.publications').bind("select_node.jstree", function (e, data) {
        window.location = $.data(data.rslt.obj[0], "href");
      });
    });
    $('.categories').jstree({
      "core": {
        "strings": {
          "loading": "#{t(:loading)}"
        }
      },
      "plugins": [ "themes", "json_data", "ui", "cookies" ],
      "cookies": { "cookie_options": { "path": "/" } },
      "themes": {
        "theme": "apple",
        "url": "/assets/themes/apple/style.css",
        "dots": false,
        "icons": true
      },
      "json_data": {
        "data": publications, "state": "open"
      }
    }).bind("reselect.jstree", function() {
      $('.categories').bind("select_node.jstree", function (e, data) {
        window.location = $.data(data.rslt.obj[0], "href");
      });
    });
  });