= title @publication.title

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/publication/#{@publication.id}/edit"
  = link_to t(:publication_link_to_edit), "/admin/publication/#{@publication.id}/edit"

%p.title= @publication.title if signed_in?
%table
  %tr
    %td.img= image_tag @publication.image if @publication.image.present?
    %td.dsc= @publication.description.html_safe

#notes= render :template => 'notes/index' if @notes.present?
