- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/article"
  = link_to t(:articles_link_to_edit), "/admin/article"

%table
  - @articles.each do |article|
    %tr
      %td.img= image_tag article.image, alt: article.title, data: { ot: "#{image_tag article.image.gsub(/thumb/, 'original'), alt: article.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' } if article.image.present?
      %td.dsc= article.description.html_safe
    %tr
      %td{style: "float: right !important;"}
        %p.author= article.user.username              unless article.collection.present?
        %p.date= l article.updated_at, format: :long  unless article.collection.present?
        %p
          - if signed_in? && !current_user.customer?
            = link_to (image_tag "edit.png"), "/admin/article/#{article.id}/edit"
            = link_to t(:article_link_to_edit), "/admin/article/#{article.id}/edit"
