= title @article.title unless @article.id == 1

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/article/#{@article.id}/edit"
  = link_to t(:welcome_link_to_edit), "/admin/article/#{@article.id}/edit" if @article.id == 1
  = link_to t(:article_link_to_edit), "/admin/article/#{@article.id}/edit" unless @article.id == 1

%table
  - if signed_in?
    %tr
      %td.article= @article.title
  %tr
    - if @article.image.present?
      %td.img= image_tag @article.image, alt: @article.title, data: { ot: "#{image_tag @article.image.gsub(/thumb/, 'original'), alt: @article.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
    %td.dsc= @article.description.html_safe

- unless @article.id == 1 || @article.node.present?
  %div{style: "float: right !important;"}
    %p.author= @article.user.username
    %p.date= l @article.updated_at, format: :long

  #comments
    %span.comments #{t("activerecord.models.comment")}
    = render :partial => "comments/form"
    = render :template => "comments/index" if @article.comments.present?