= title t(:error_forbidden_page_title)
%div.dialog
  %h1= (t :error_authorization_failure)
  %p= (t :error_forbidden_page_description)
  %p= (t :error_stack_trace_label)
  %p= @page_trace
  %p= link_to t(:return_back), "javascript:history.back()", :title => t(:return_back)