= title @author.profile_description

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/user/#{@author.id}/edit"
  = link_to t(:profile_edit_page_title), "/admin/user/#{@author.id}/edit"

%table
  %tr
    %td.img.center
      = image_tag @author.image, alt: @author.profile_description, data: { ot: "#{image_tag @author.image.gsub(/thumb/, 'original'), alt: @author.profile_description}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' } if @author.image.present?
      .author= "#{@author.last_name.capitalize if @author.last_name.present?} #{@author.first_name.capitalize if @author.first_name.present?} #{@author.middle_name.capitalize if @author.middle_name.present?}"
      .author= @author.title if @author.title.present?

- if @author.publications.present?
  %table
    %tr
      %th.title= t('activerecord.models.publication')
    - @author.publications.each do |publication|
      %tr
        %td= link_to publication.title, publication
