- @authors = User.where(role: I18n.t(:app_role_customer))
- if params[:model_name] == 'publication' && params[:id].present?
  - @publication = Publication.find(params[:id])
  - if current_user.customer?
    = render :partial => '/shared/card', :locals => {user: current_user, timestamp: nil}
    = hidden_field_tag 'publication[author_id]', current_user.id
  - else
    = collection_select :publication, :author_id, @authors, :id, :profile_description, include_blank: true
- elsif params[:model_name] == 'note' && params[:id].present?
  - @note = Note.find(params[:id])
  - if current_user.customer?
    = render :partial => '/shared/card', :locals => {user: current_user, timestamp: nil}
    = hidden_field_tag 'note[author_id]', current_user.id
  - else
    = collection_select :note, :author_id, @authors, :id, :profile_description, include_blank: true
- else
  - if current_user.customer?
    = render :partial => '/shared/card', :locals => {user: current_user, timestamp: nil}
    = hidden_field_tag 'note[author_id]', current_user.id
  - elsif params[:model_name] == 'publication'
    = collection_select :publication, :author_id, @authors, :id, :profile_description, include_blank: true
  - elsif params[:model_name] == 'note'
    = collection_select :note, :author_id, @authors, :id, :profile_description, include_blank: true