-if signed_in?
  = link_to (image_tag "process.png"), "/admin", :title => (t :welcome_link_to_dashboard)
  = link_to (t :welcome_link_to_dashboard), "/admin"
  %span.spacer
  = link_to (image_tag "logout.png", class: "image"), "/users/sign_out", :method => :delete, :title => (t :sign_out_title)
  = link_to (t :sign_out_title), "/users/sign_out", :method => :delete, :title => (t :sign_out_title)
  %span.spacer
  = current_user.username

-else
  = image_tag "lock.png", class: "image", :title => (t :not_logged_title)
  = link_to (image_tag "user_accept.png", class: "image"), "/users/sign_in", :title => (t :sign_in_title)
  = link_to (t :sign_in_title), "/users/sign_in", :title => (t :sign_in_title)


