.shelf
%ul.book_list
  - @books_on_shelf.each do |book|
    %li
      %a.book{href: book_path(book)}
        .spine{style: "background: ##{@generator.create_hex};"}
        .cover= image_tag book.image, alt: book.title

