<div id="carousel_container">
  <canvas width="1143" height="300" id="main_canvas"></canvas>
</div>
<div id="carousel">
  <%- if @photos.present? %>
      <% @photos.each do |book| %>
          <%= link_to image_tag(book.image, class: 'photo', alt: book.title), book_path(book) %>
      <% end %>
  <% end %>
</div>
