%table
  %tr
    %td.img= image_tag user.image, alt: user.profile_description, class: 'thumb right', data: { ot: "#{image_tag user.image.gsub(/thumb/, 'original'), alt: user.profile_description}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' } if user.image.present?
    %td
      %p.author= user.profile_description
      %p.author= user.title if user.title.present?
      -  unless params[:model_name] == 'publication' || params[:model_name] == 'note' || params[:model_name] == 'collection' || params[:model_name] == 'article' || params[:model_name] == 'book' || params[:model_name] == 'comment' || params[:model_name] == 'photo' || params[:model_name] == 'event'
        %p.date= l timestamp, format: :long
:javascript
  $(function () {
    $('.thumb').css('height', '54px');
  });