:javascript
  function showChatImage(workgroup) {
      var img = "http://help.adidonntu.ru/adichat/live?action=isAvailable&workgroup=library@workgroup.help.adidonntu.ru";
      var gotoURL = "http://help.adidonntu.ru/adichat/start.jsp?workgroup=library@workgroup.help.adidonntu.ru&location=" + window.location.href;
      document.write(
              "<a id=\"liveLink\" href=\"javascript:void(0)\" onclick=\"launchWin(\'framemain\','" + gotoURL + "',600, 400);return false;\"><img id=\"liveImage\" alt='#{t :chat_image_title}' title='#{t :chat_image_title}' src=\"" + img + "\"></a>");
  }
:javascript
  showChatImage('library@workgroup.help.adidonntu.ru');