<div id="tags_container">
  <canvas width="300" height="300" id="tag_canvas"></canvas>
</div>
<div id="tags">
  <%- if @tags.present? %>
      <% tag_cloud @tags, %w() do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
  <% end %>
</div>