-if signed_in?
  = link_to (image_tag "process.png"), "/admin", :title => (t :welcome_link_to_dashboard)
  = link_to (t :welcome_link_to_dashboard), "/admin"

  = image_tag "footer.png", id: "logo_footer", alt: "", title: ""
-#.field
-#-if devise_mapping.registerable? && controller_name != 'registrations'
-#  = link_to (image_tag "user_add.png"), new_registration_path(@user), :title => (t :sign_up_title)
-#  = link_to (t :sign_up_title), new_registration_path(@user)
-#.field
-#  -if devise_mapping.recoverable? && controller_name != 'passwords'
-#    = link_to (image_tag "help.png"), new_password_path(@user), :title => (t :user_label_forgot_your_password)
-#    = link_to (t :user_label_forgot_your_password), new_password_path(@user)
-#.field
-#  -if controller_name != 'sessions'
-#    = link_to (image_tag "next.png"), new_session_path(resource_name), :title => (t :user_sign_in_page_title)
-#    = link_to (t :user_sign_in_page_title), new_session_path(resource_name)

