= render 'shared/auth'
-#-if signed_in?
-#  %span.spacer
-#  = image_tag "date_time.png", alt: "", title: "", class: "image"
-#  = Time.current.strftime("%F")
-#  %span#clock
-#  = Time.current.strftime("%z")
