.bookshelf= render '/shared/bookshelf'
= image_tag "adi-logo.png", id: "logo", alt: "", title: ""
.app= t :app_title

.tree

= render "search/form"
= render "shared/cloud"

:javascript
  $(function () {
    var categories = #{@exhibitions.to_json.html_safe};
    var nodes = #{@branchs.to_json.html_safe};
    $('.tree').jstree({
      "core": {
        "strings": {
          "loading": "#{t(:loading)}"
        }
      },
      "plugins": [ "themes", "json_data", "ui", "cookies" ],
      "cookies": { "cookie_options": { "path": "/" } },
      "themes": {
        "theme": "apple",
        "url": "/assets/themes/apple/style.css",
        "dots": false,
        "icons": true
      },
      "json_data": {
        "data": [ categories, nodes ]
      }
    }).bind("reselect.jstree", function() {
      $('.tree').bind("select_node.jstree", function (e, data) {
        window.location = $.data(data.rslt.obj[0], "href");
      });
    });
  });