- if params[:model_name] == 'collection' && params[:id].present?
  - @collection = Collection.find(params[:id])
  = text_field_tag 'collection[title]', @collection.title, maxlength: 255, size: 50
- elsif params[:model_name] == 'collection' && params[:id].nil?
  - title = t('collection_label') + ' ' + current_user.profile_description
  = text_field_tag 'collection[title]', title, maxlength: 255, size: 50
- elsif params[:model_name] == 'article' && params[:id].present?
  - @article = Article.find(params[:id])
  = text_field_tag 'article[title]', @article.title, maxlength: 255, size: 50
- elsif params[:model_name] == 'article' && params[:id].nil?
  - title = t('article_label') + ' ' + current_user.profile_description
  = text_field_tag 'article[title]', title, maxlength: 255, size: 50
- elsif params[:model_name] == 'book' && params[:id].present?
  - @book = Book.find(params[:id])
  = text_field_tag 'book[title]', @book.title, maxlength: 255, size: 50
- elsif params[:model_name] == 'book' && params[:id].nil?
  - title = t('book_label') + ' ' + current_user.profile_description
  = text_field_tag 'book[title]', title, maxlength: 255, size: 50
- elsif params[:model_name] == 'publication' && params[:id].present?
  - @publication = Publication.find(params[:id])
  = text_field_tag 'publication[title]', @publication.title, maxlength: 255, size: 50
- elsif params[:model_name] == 'publication' && params[:id].nil?
  - title = t('activerecord.attributes.note.publication') + ' ' + current_user.profile_description
  = text_field_tag 'publication[title]', title, maxlength: 255, size: 50
- elsif params[:model_name] == 'note' && params[:id].present?
  - @note = Note.find(params[:id])
  = text_field_tag 'publication[title]', @note.title, maxlength: 255, size: 50
- elsif params[:model_name] == 'note' && params[:id].nil?
  - title = t('note_label') + ' ' + current_user.profile_description
  = text_field_tag 'note[title]', title, maxlength: 255, size: 50
- elsif params[:model_name] == 'photo' && params[:id].present?
  - @photo = Photo.find(params[:id])
  = text_field_tag 'photo[title]', @photo.title, maxlength: 255, size: 50
- elsif params[:model_name] == 'photo' && params[:id].nil?
  - title = t('photo_label') + ' ' + current_user.profile_description
  = text_field_tag 'photo[title]', title, maxlength: 255, size: 50