= title t(:node_events)

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/event"
  = link_to t(:events_link_to_edit), "/admin/event"

= render "shared/calendar"

