= title @event.title

- if signed_in?
  = link_to (image_tag "edit.png"), "/admin/event"
  = link_to t(:events_link_to_edit), "/admin/event"

%table
  - if signed_in?
    %tr
      %td.event= @event.title
  %tr
    %td{colspan: 2}
      .actions.date
        = l @event.start, format: :long            if @event.start.present?
        =  '- ' + l(@event.end, format: :long)     if @event.end.present?
  %tr
    - if @event.image.present?
      %td.img= image_tag @event.image, alt: @event.title, data: { ot: "#{image_tag @event.image.gsub(/thumb/, 'original'), alt: @event.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
    %td.dsc= @event.description.html_safe

  %tr
    %td{colspan: 2}
      %p.author= @event.user.username                                      if signed_in?
      %p.date= l @event.updated_at, format: :long                          if signed_in?
      %p
        = link_to (image_tag "edit.png"), "/admin/event/#{@event.id}/edit" if signed_in?
        = link_to t(:event_link_to_edit), "/admin/event/#{@event.id}/edit" if signed_in?