= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :collection
    = f.text_field :collection
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
