= title @book.title

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/book"
  = link_to t(:books_link_to_edit), "/admin/book"

%table
  %tr
    %td.img= image_tag @book.image, alt: @book.title, data: { ot: "#{image_tag @book.image.gsub(/thumb/, 'original'), alt: @book.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
    %td.dsc= @book.description.html_safe
  %tr
    %td{colspan: 2}
      %p.author= @book.user.username                                     if signed_in?
      %p.date= l @book.updated_at, format: :long                         if signed_in?
      %p
        - if signed_in? && !current_user.customer?
          = link_to (image_tag "edit.png"), "/admin/book/#{@book.id}/edit"
          = link_to t(:book_link_to_edit), "/admin/book/#{@book.id}/edit"
#comments
  %span.comments #{t("activerecord.models.comment")}
  = render :partial => "comments/form"
  = render :template => "comments/index" if @book.comments.present?