= title params[:tag]

- if @collections.present?
  %p.title= t(:collections_label)
  %p= render :template => "collections/index"
- if @events.present?
  %p.title= t(:events_label)
  %p= render :template => "events/index"
- if @books.present?
  %p.title= t("activerecord.models.book")
  %p= render :template => "books/index"
- if @articles.present?
  %p.title= t("activerecord.models.article")
  %p= render :template => "articles/index"