= render :partial => '/shared/card', :locals => {user: current_user, timestamp: current_user.updated_at}
- if params[:model_name] == 'collection'
  = hidden_field_tag "collection[user_id]", current_user.id
- if params[:model_name] == 'publication'
  = hidden_field_tag "publication[user_id]", current_user.id
- if params[:model_name] == 'event'
  = hidden_field_tag "event[user_id]", current_user.id
- if params[:model_name] == 'article'
  = hidden_field_tag "article[user_id]", current_user.id
- if params[:model_name] == 'book'
  = hidden_field_tag "book[user_id]", current_user.id
- if params[:model_name] == 'photo'
  = hidden_field_tag "photo[user_id]", current_user.id
- if params[:model_name] == 'comment'
  = hidden_field_tag "comment[user_id]", current_user.id
- if params[:model_name] == 'note'
  = hidden_field_tag "note[user_id]", current_user.id