- tags = Array.new
- if params[:model_name] == 'collection'
  - tags = @collection.tags.join(', ') if @collection.present?
  = text_field_tag "collection[tag_list]", tags, maxlength: "255", size: "50", class: "tag_list", placeholder: t(:search_title)
- if params[:model_name] == 'event'
  - tags = @event.tags.join(', ') if @event.present?
  = text_field_tag "event[tag_list]", tags, maxlength: "255", size: "50", class: "tag_list", placeholder: t(:search_title)
- if params[:model_name] == 'article'
  - tags = @article.tags.join(', ') if @article.present?
  = text_field_tag "article[tag_list]", tags, maxlength: "255", size: "50", class: "tag_list", placeholder: t(:search_title)
- if params[:model_name] == 'book'
  - tags = @book.tags.join(', ') if @book.present?
  = text_field_tag "book[tag_list]", tags, maxlength: "255", size: "50", class: "tag_list", placeholder: t(:search_title)
- if params[:model_name] == 'photo'
  - tags = @photo.tags.join(', ') if @photo.present?
  = text_field_tag "photo[tag_list]", tags, maxlength: "255", size: "50", class: "tag_list", placeholder: t(:search_title)

%p{class: "help-block"}= t(:tags_tip)

:javascript
  $(function() {
    var availableTags = #{Tag.all.collect {|x| x.name}};
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( ".tag_list" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
