- if params[:model_name] == 'user' && params[:id].present?
  - role = User.find(params[:id]).role
- elsif params[:model_name] == 'user' && params[:id].nil?
  - role = Role::CUSTOMER
- else
  - role = params[:user][:role]

- if current_user.operator? || current_user.customer?
  = label_tag nil, role
  = hidden_field_tag 'user[role]', role
- else
  = select_tag 'user[role]', options_for_select(Role::ROLES, role)