- if signed_in?
  = link_to (image_tag "edit.png"), "/admin/photo"
  = link_to t(:photos_link_to_edit), "/admin/photo"

  %table
    - @photos.each do |photo|
      %tr
        %td.img= image_tag photo.image, alt: photo.title, data: { ot: "#{image_tag photo.image.gsub(/thumb/, 'original'), alt: photo.title}", :'ot-delay' => '0.6', :'ot-background' => '#ffffe1' }
        %td.dsc= photo.description.html_safe
      %tr
        %td{colspan: 2}
          %p.author= photo.user.username                                     if signed_in?
          %p.date= l photo.updated_at, format: :long                         if signed_in?
          %p
            = link_to (image_tag "edit.png"), "/admin/photo/#{photo.id}/edit" if signed_in?
            = link_to t(:photo_link_to_edit), "/admin/photo/#{photo.id}/edit"  if signed_in?

.slideshow= render :partial => 'shared/slideshow'

:javascript
  $(function () {
    var photos = #{@photos.collect {|photo| { title: "#{photo[:title]}", description: "#{photo[:description]}", href: "#{photo[:image].gsub(/thumb/, 'original')}" } }.to_json.html_safe};
    function showSlides() {
      $.ajax({
        data: { format: 'json' }
      }).done(function () {
        var carouselLinks = [],
          linksContainer = $('#links');
        $.each(photos, function (index, photo) {
          baseUrl = photo.href;
          baseTitle = photo.title;
          $('<a/>')
              .append($('<img>').prop('src', baseUrl).prop('alt', baseTitle))
              .prop('href', baseUrl)
              .prop('title', baseTitle)
              .attr('data-gallery', '')
              .appendTo(linksContainer);
          carouselLinks.push({
            href: baseUrl,
            title: photo.description
          });
        });
        blueimp.Gallery(carouselLinks, {
            container: '#blueimp-image-carousel',
            carousel: true
        });
      });
    };
    $('#slideshow').click(function () {
      showSlides();
    });
  });
