<%= title (t :user_forgot_your_password_page_title)  %>
<h2 class="title"><%= t :user_label_forgot_your_password %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t :user_label_email %><span class="required"><%= t :required_label %></span><br />
  <%= f.email_field :email %></div>

  <span class="required"><%= t :required_label_tip %></span>

  <div><%= f.submit t :user_link_reset_password_title, title: (t :user_link_reset_password_title) %></div>
<% end %>

<%= render "shared/links" %>
