= title t(:error_not_found_page_title)
%div.dialog
  %h1= (t :error_not_found_page_message)
  %p= (t :error_not_found_page_description)
  %p= (t :error_stack_trace_label)
  %p= @page_trace
  %p= link_to t(:return_back), "javascript:history.back()", :title => t(:return_back)


