.fc-border-separate { margin: 0 !important; width: 100% !important; }
.fc-header { margin: 0 !important; width: 100% !important; }
.fc-header-title h2 { margin: 0 !important; font-size: 1.5em !important; font-weight: bold !important; }
.fc-event { color: inherit; cursor: pointer; background-color: #f4f4f4 !important; font-size: inherit !important; white-space: nowrap; }
.fc-day-content { padding: 1px !important; }
.fc-today { background: #ffffe1; }