body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  background-color: #f4f4f4 !important;
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  background-color: whiteSmoke;
  border: 1px solid silver;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=text], input[type=password], input[type=email] {
  width: 220px;
}

textarea {
  width: 99.6%;
}

select {
  width: 222px;
}

input:hover, textarea:hover, select:hover {
  background-color: #ffffe1;
}

input:active, textarea:active, select:active {
  background-color: #fff;
}

input:focus, textarea:focus, select:focus {
  background-color: #fff;
}

input[type=submit]:hover {
  color: red;
}

input[type=submit]:active {
  color: teal;
}

input[type=submit], input[type=submit]:focus {
  color: blue;
}

ul {
  display: block;
  list-style-type: none !important;
  text-align: left;
  margin: 0 !important;
}

li {
  display: block;
}

table {
  margin: 10px !important;
  text-align: left;
  width: 98% !important;
}

td {
  padding: 4px !important;
  text-align: left;
}

img {
  border: none;
}

p {
  margin: 0 !important;
}

select, option, .cursor {
  cursor: pointer;
}

a {
  font-weight: normal !important;
}

a:link, .ui-state-default, .fc-event {
  color: blue !important;
  text-decoration: none !important;
}

a:visited, .ui-state-visited, .fc-event:visited {
  color: blue !important;
  text-decoration: none !important;
}

a:hover, .ui-state-hover, .fc-event:hover {
  color: red !important;
  text-decoration: none !important;
}

a:active, .ui-state-active, .ui-state-down, .fc-event:active {
  color: teal !important;
  text-decoration: none !important;
}

.app {
  font-size: 24px;
  font-weight: bold;
}

.page {
  font-size: 18px;
  font-weight: bold;
  color: maroon;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: navy;
  text-align: left;
}

.search {
  font-size: 14px;
}

.image {
  margin-left: 4px;
}

.alert {
  color: red;
  background-color: whiteSmoke;
  padding: 10px;
  border: 1px solid silver;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.notice {
  color: green;
  background-color: whiteSmoke;
  padding: 10px;
  border: 1px solid silver;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.error, .required {
  color: red;
}

.odd {
  background-color: #e7fff5;
}

.even {
  background-color: #fffded;
}

.bold {
  font-weight: bold;
}

.tip, .required {
  font-style: italic;
  font-size: 10px;
}

.tip {
  color: teal;
}

.date {
  color: #888;
}

.author {
  color: #343434;
}

.article, .event {
  color: blue;
  font-size: 12px;
  font-weight: bold;
}

.comments {
  color: #ff7567;
  font-style: italic;
  font-size: 13px;
  font-weight: bold;
}

.spacer {
  margin-left: 30px;
}

#container {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}

#header, #footer, #comments {
  margin-top: 20px;
  width: 100% !important;
}

#content {
  text-align: left;
  width: 64% !important;
  margin: 10px 60px 0 60px !important;
}

#menu {
  background-color: #efefef;
  border: 1px solid silver;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 24px;
  text-align: left;
}

#sidebar {
  background-color: whiteSmoke;
  margin: 9px;
}

#search_form {
  margin: 4px 0 4px 0;
}

.tree {
  padding: 9px;
  border: 1px solid silver;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.flash {
  background-color: white;
  margin: 10px;
}

.actions, #logo_footer {
  float: right;
}

.chat {
  position: fixed;
  top: 21px;
  right: 12px;
}

#liveLink {
  padding-top: 10px;
}

#liveImage {
  border: none;
  float: right;
}

.imageLink {
  background: url("close.png") no-repeat 100% 0;
}

.imageHover, .imageActive {
  background: url("close_hover.png") no-repeat 100% 0;
}

.imageLink, .imageActive, .imageHover {
  border: 1px transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 12px;
  width: 12px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.img {
  vertical-align: top;
  width: 20%;
}

.dsc {
  vertical-align: top;
  width: 80%;
}

.opentip-container {
  max-width: 100% !important;
}

.jstree-apple {
  background: none !important;
}

.jstree-apple > ul {
  background: none !important;
}

.jstree-apple li {
  overflow: hidden;
}

.jstree-apple a {
  padding: 0 !important;
  text-shadow: none !important;
}

.jstree-apple .jstree-hovered {
  border: none !important;
}

.jstree-apple .jstree-clicked {
  border: none !important;
  color: teal !important;
}

body.bp ul, body.bp ol {
  padding-left: 0 !important;
}

.tree {
  background: white !important;
}

.categories, .publications {
  background: inherit !important;
}

.ui-state-default {
  background: none !important;
}

.ui-state-hover, .ui-state-active, .fc-event, .fc-event:hover, .fc-event:active {
  border: 1px solid silver !important;
}

.ui-state-hover, .fc-event:hover {
  background: none !important;
  background-color: #ffffe1 !important;
}

.ui-state-down {
  background-color: #fff !important;
}