body {
    background-color: #f4f4f4 !important;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.dialog {
    padding: 1em;
    margin: auto;
}

h1 {
    font-size: 100%;
    color: #f00;
    line-height: 1.5em;
    text-align: center;
}