.shelf {height: 96px; width: 310px; background:transparent url(bookshelf.png) center bottom no-repeat; float:right;}

.book_list {float:right; margin: 14px -284px 0 0 !important;}

.book_list li {float:right; position:relative; width:10px; height:60px; list-style:none;}

.book_list a {display:block;}

.book_list .book {position: relative; text-align:center; padding-bottom:10px;}

.book_list .book .spine,
.book_list .book .cover {-webkit-border-radius:2px;-moz-border-radius:2px; border-radius:2px;}

.book_list .book .cover {position:relative; width:76px;}
.book_list .book .cover img {display:none; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}

.book_list li:hover .cover {margin:-80px 0 0 -40px; z-index:10;} /* For non-webkit browsers only */
.book_list li:hover .cover img {display:block;height:60px;}

.book_list .spine, .book_list .book .cover {height:60px;}

@media (-webkit-transform-3d) {

.csstransforms3d .book_list li {position:relative; -webkit-perspective: 5000; -webkit-transition: all 0.5s linear;}
.csstransforms3d .book_list a {display:block;}

.book_list .book {position:relative; text-align:center; -webkit-transform-style: preserve-3d; -webkit-transform-origin: 42px;}
.book_list .book .spine,
.book_list .book .cover {position: absolute; -webkit-border-radius:2px; }
.book_list .book .spine {width:10px; padding:0 0; -webkit-transform: translateZ(38px);}
.csstransforms3d .book_list .book .cover {-webkit-transform: rotateY(90deg) translateZ(-29px);}

.book_list li:hover {-webkit-perspective:500; -webkit-transform:scale(1.3); z-index:50;}
.csstransforms3d .book_list li:hover .book {left:-40px; top:-20px; -webkit-transform: rotateY(-90deg); -webkit-transition-delay:.5s;}
.book_list li:hover .cover {margin:0;} /* Reset non-webkit margin */
.csstransforms3d .book_list .book:hover {-webkit-transition: all .6s linear;}

}
