= title t(:node_virtual_exhibitions)

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/categories"
  = link_to t(:categories_link_to_edit), "/admin/categories"

%p.title= t(:exhibitions_by_categories)
.categories

:javascript
  $(function () {
    var categories = #{@categories.to_json.html_safe};
    $('.categories').jstree({
      "core": {
        "strings": {
          "loading": "#{t(:loading)}"
        }
      },
      "plugins": [ "themes", "json_data", "ui", "cookies" ],
      "cookies": { "cookie_options": { "path": "/" } },
      "themes": {
        "theme": "apple",
        "url": "/assets/themes/apple/style.css",
        "dots": false,
        "icons": true
      },
      "json_data": {
        "data": categories, "state": "open"
      }
    }).bind("reselect.jstree", function() {
      $('.categories').bind("select_node.jstree", function (e, data) {
        window.location = $.data(data.rslt.obj[0], "href");
      });
    });
  });