= title @category.name

- if signed_in? && !current_user.customer?
  = link_to (image_tag "edit.png"), "/admin/category/#{@category.id}/edit"
  = link_to t(:category_link_to_edit), "/admin/category/#{@category.id}/edit"

%p.title= @category.name if signed_in?
%p= @category.description.html_safe

- if @collections.present?
  %p.title= t(:node_virtual_exhibitions)
  %p= render :template => "collections/index"

- if @category.publications.present?
  %p.title= t('activerecord.models.publication')
  %table
    - @category.publications.each do |publication|
      %tr
        %td= link_to publication.title, publication
