!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => controller.set_locale, :lang => controller.set_locale}
  %head
    = csrf_meta_tag
    = app_meta_tag
    = apple_icon_link_tag
    = icon_link_tag
    %title= t(:app_title) + ' :: ' + yield_or_default(:title, t(:app_title))
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = yield :head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-45096728-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.bp.two-col
    #container
      #header= render '/shared/header' if signed_in?
      .chat= render '/shared/chat'
      .page= content_tag :span, yield(:title)
      .flash= render 'shared/flash'
      #sidebar= render '/shared/sidebar'
      #content= yield
      #footer= render '/shared/footer' if signed_in?